body {
	background: black url(imgs-pantera/fundo-pantera.png);
	font: 18px Garamond, "Times New Roman", serif;
	color: white;
}

a {
	border-right: 5px solid #8804B0;
	border-bottom: 5px solid #8B0887;
	color: white;
	text-decoration: none;
	padding: 5px;
}

h1 {
	color: #848585;
	font-size: 1.3em;
	font-weight: bold;
}

strong {
	font-weight: bold;
	font-style: italic;
}

#principal {
	width: 900px;
}

#menu {
	text-align: center;
	background: black;
	font-weight: bold;
	padding: 10px;
}

#conteudo {
	background: #2E2F2F;
	padding: 8px;
	font-size: 1.2em;
}

#imgs {
	height: auto;
	width: 75%;
	border-top: 10px solid #8B0887;
	border-right: 10px solid #8B0887;
	border-bottom: 10px solid #8804B0;
	border-left: 10px solid #8804B0;

}

.centralizar {
	text-align: center;
}

